body {
    height: 100vh;
    width: 100vw;
    background: rgba(80, 80, 80, 1);
	background: -webkit-linear-gradient(to left, rgba(80, 80, 80, 1) , rgba(230, 230, 230, .8));
	background: linear-gradient(to left, rgba(80, 80, 80, 1) , rgba(230, 230, 230, .8));
}

.calculator {
	width: 50%;
	min-width: 640px;
	border: 1px solid rgba(100, 100, 100, .7);
	padding: 24px;
	position: relative;
	margin: 50px auto;
	background: rgba(200, 200, 200, .1);
}

.flags {
	left: 50%;
	position: absolute;
	bottom: 24px;
	-ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
    transform: translateX(-50%);
    text-align: center;
    background-color: #D52D2D;
}

.show, 
.hide {
	padding: 12px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	font-size: 24px;
	color: white;
}

.show {
	display: inline-block;
	opacity: 1;
}

.hide {
	display: none;
	opacity: 0;
}

.currency-input {
	text-align: center;
}

.currency-output {
	font-size: 24px;
	text-align: center;
}

.currency-input-field {
	padding: 9px;
	border: 1px solid rgba(100, 100, 100, .7);
	background: rgba(160, 160, 160, .5);
	font-size: 24px;
	text-align: right;

	&:focus {
		outline: none;
	}
}

.key {
	span {
		margin-top: 4px;
		display: block;
	}
}